*{
    font-family: Verdana, Geneva, sans-serif;
}

body{
    background: #77738A;
    margin: auto;
}

#container{
    background: #77738A;
}

.name{
    float: left;
    text-align: left;
    width: 37.5%;
    height: inherit;
    padding-left: 2.5%;
    font-size: 18px;
}

.name a{
    color: #000;
}

a{
    text-decoration: none;
    color: #333;
}

h1{
    font-size: 32;
    color: black;
}

#top{
    background: #5F5270;
    height: 80px;
    /**uncomment this to stick nav bar to top of page**/
    /*position: fixed;
    top: 0;
    width: inherit;
    margin: auto;*/
}

.bar{
    height: inherit;
    float: right;
    width:60%;
}

.bar a{
    float: left;
    text-align: center;
    width: 25%;
    font-size: 24px;
    line-height: 80px;
    color: #000;
}

.bar a.active{
    background-color: #685a78;
}

.bar a:hover{
    background-color: #6F6381;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content{
    clear: both;
    background: #8293A3;
    height: 2000px;
    width: 85%;
    margin: auto;
    margin-top:40px;
    margin-bottom: 120px;
    padding-top: 20px;
}

#footer{
    background: #9dbbad;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    height:80px;
    text-align: center;
}
