*{
    font-family: Verdana, Geneva, sans-serif;
}

body{
    background: green;
    margin: auto;
}

#container{
    background: blue;
    margin: auto;
}

#top{
    /*position: fixed;
    top: 0;
    width: inherit;
    margin: auto;*/
    background: purple;
    height: 80px;
}

.name{
    float: left;
    text-align: left;
    width: 37.5%;
    height: inherit;
    padding-left: 2.5%;
    font-size: 18px;
    background-color: red;
}

a{
    text-decoration: none;
}

h1{
    font-size: 32;
    color: purple;
}

.bar{
    height: inherit;
    float: right;
    background: pink;
    width:60%;
}

.bar a{
    float: left;
    text-align: center;
    width: 25%;
    font-size: 24px;
    line-height: 80px;
    color: #000;
    background-color: #d66;
}

.bar a.active{
    background-color: #c55;
}

.bar a:hover{
    background-color: #b55;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content{
    clear: both;
    background: yellow;
    height: 2000px;
    width: 85%;
    margin: auto;
    margin-top:40px;
    margin-bottom: 120px;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    background: orange;
    height:80px;
}
